{{ define "about" }}

    {{ template "header" }}

    {{ template "jumbotron" }}

    <div class="container">
        <div class="card mx-auto border-0" style="width: 28rem;">
            <img src="images/art.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Craft beer scenester woke PBR&B truffaut tofu 90's biodiesel coloring book fixie. Tilde street art echo park kale chips yuccie, crucifix pickled umami everyday carry raw denim cray shabby chic mustache intelligentsia. Pitchfork craft beer affogato XOXO. Yuccie jean shorts chicharrones, brunch 3 wolf moon master cleanse cloud bread forage hoodie af twee church-key lo-fi small batch. Sustainable green juice scenester cornhole. Letterpress helvetica disrupt single-origin coffee, umami bicycle rights gluten-free activated charcoal art party deep v leggings occupy vape lyft.</p>
            </div>
          </div>
    </div>

    {{template "footer" }}

{{ end }}