{{ define "works" }}

    {{ template "header" }}

    {{ template "jumbotron" }}
    <div class="container">
        <div class="card-deck">
            <div class="card border-0">
            <img src="images/art.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Painting</h5>
                <p class="card-text">VHS mustache banjo, letterpress cold-pressed fanny pack organic lumbersexual farm-to-table salvia.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            </div>
            <div class="card border-0">
            <img src="images/art.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Weaving</h5>
                <p class="card-text">Kinfolk irony pop-up trust fund green juice polaroid chillwave YOLO cold-pressed 8-bit palo santo pinterest gochujang chicharrones.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            </div>
            <div class="card border-0">
            <img src="images/art.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Drawing</h5>
                <p class="card-text"> Shabby chic fingerstache small batch snackwave actually post-ironic man bun.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
    </div>

    {{template "footer" }}

{{ end }}